
 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4683px;
}

.u-section-1 .u-text-1 {
  width: 707px;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 800px;
  grid-gap: 25px 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 145px 330px 0 351px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 915px;
  grid-gap: 25px 25px;
  height: 915px;
  width: 1140px;
  margin: 32px auto 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-10 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-11 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-12 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-13 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-13 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-14 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-14 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-15 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-15 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-16 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-16 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-16 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  grid-gap: 25px 25px;
  height: 929px;
  width: 1140px;
  margin: 28px 0 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-17 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-17 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-18 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-18 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-18 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-19 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-19 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-19 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-20 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-20 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-20 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-21 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-21 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-21 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-23 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-22 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-22 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-22 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-23 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-23 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-23 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-25 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-24 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-24 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-24 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  grid-gap: 25px 25px;
  height: 912px;
  width: 1140px;
  margin: 34px 0 60px;
}

.u-section-1 .u-list-item-25 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-25 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-25 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-27 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-26 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-26 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-26 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-28 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-27 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-27 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-27 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-29 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-28 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-28 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-28 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-30 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-29 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-29 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-29 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-31 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-37 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-30 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-30 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-30 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-32 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-31 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-31 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-31 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-33 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-32 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-32 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-32 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-34 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18.75px));
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    height: 155px;
  }

  .u-section-1 .u-image-2 {
    height: 155px;
  }

  .u-section-1 .u-image-3 {
    height: 155px;
  }

  .u-section-1 .u-image-4 {
    height: 155px;
  }

  .u-section-1 .u-image-5 {
    height: 155px;
  }

  .u-section-1 .u-image-6 {
    height: 155px;
  }

  .u-section-1 .u-image-7 {
    height: 155px;
  }

  .u-section-1 .u-image-8 {
    height: 155px;
  }

  .u-section-1 .u-text-10 {
    width: 459px;
    margin-left: 251px;
    margin-right: 230px;
  }

  .u-section-1 .u-repeater-2 {
    width: 940px;
    min-height: NaNpx;
  }

  .u-section-1 .u-repeater-3 {
    width: 940px;
    margin-top: 0;
  }

  .u-section-1 .u-repeater-4 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 2152px;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
  }

  .u-section-1 .u-image-3 {
    height: 254px;
  }

  .u-section-1 .u-image-4 {
    height: 254px;
  }

  .u-section-1 .u-image-5 {
    height: 254px;
  }

  .u-section-1 .u-image-6 {
    height: 254px;
  }

  .u-section-1 .u-image-7 {
    height: 254px;
  }

  .u-section-1 .u-image-8 {
    height: 254px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 141px;
    margin-right: 120px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    width: 720px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 413px;
  }

  .u-section-1 .u-image-2 {
    height: 413px;
  }

  .u-section-1 .u-image-3 {
    height: 413px;
  }

  .u-section-1 .u-image-4 {
    height: 413px;
  }

  .u-section-1 .u-image-5 {
    height: 413px;
  }

  .u-section-1 .u-image-6 {
    height: 413px;
  }

  .u-section-1 .u-image-7 {
    height: 413px;
  }

  .u-section-1 .u-image-8 {
    height: 413px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 51px;
    margin-right: 30px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-image-4 {
    height: 264px;
  }

  .u-section-1 .u-image-5 {
    height: 264px;
  }

  .u-section-1 .u-image-6 {
    height: 264px;
  }

  .u-section-1 .u-image-7 {
    height: 264px;
  }

  .u-section-1 .u-image-8 {
    height: 264px;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-4 {
    width: 340px;
  }
}